.DS_Store
.vscode
Images
.ipynb_checkpoints
zip
sample_submission.csv
Test1.ipynb
pranav/train_df1
pranav/train_df1_img
saatvik/train_df2
saatvik/train_df2_img
aditya/Deepfakes
aditya/Deepfakes_img
aditya/original
aditya/original_img
